* {
    margin: 0;
    padding: 0;
}

.blue{
    background-color: blue;    
}

.inline{
    display: inline;
}

.jumbotron{
    padding-top: 2em;
    padding-bottom: 2em;
}

/* .btn-primary{
    background-color:#343A40;
    color: #0069D9;
} */

/* .btn-success{
    background-color:#343A40;
    color: #28A745;
} */

/* .btn-warning{
    background-color:#343A40;
    color: #E0A800;
} */

/* .btn-danger{
    background-color:#343A40;
    color: #C82333;
} */