* {
    margin: 0;
    padding: 0;    
}

.blue{
    background-color: blue;    
}

.inline{
    display: inline;
}

.jumbotron{
    padding-top: 2em;
    padding-bottom: 2em;
}

.table{
    background-color: white;
}

.table  th, .table td{    
    vertical-align: middle;     
}

.table th:hover{
    background-color: #162025;
}

.table th:focus{
    background-color: #162025;
}


.table tr:hover{
    background-color: rgb(86, 192, 192);
}

.min-w200{
    min-width: 200px;
}
.min-w150{
    min-width: 150px;
}
.min-w100{
    min-width: 100px;
}

/* .btn-primary{
    background-color:#343A40;
    color: #0069D9;
} */

/* .btn-success{
    background-color:#343A40;
    color: #28A745;
} */

/* .btn-warning{
    background-color:#343A40;
    color: #E0A800;
} */

/* .btn-danger{
    background-color:#343A40;
    color: #C82333;
} */